body,
html,
#play {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}
