@use 'common/var' as *;
@use 'mixins/config' as *;
@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;

@include b(button-group) {
  @include utils-clearfix;

  display: inline-block;
  vertical-align: middle;
  & > .#{$namespace}-button {
    position: relative;
    float: left;
    & + .#{$namespace}-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &:first-child:last-child {
      border-top-right-radius: $button-default-border-radius;
      border-bottom-right-radius: $button-default-border-radius;
      border-bottom-left-radius: $button-default-border-radius;
      border-top-left-radius: $button-default-border-radius;
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }

    @include when(active) {
      z-index: 1;
    }
  }
}
